<!DOCTYPE html>
<html lang="en">
<head>
    
 
    
    
    <style>
   
    body {
    background-color: #dae1e7;
}


.card {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    margin-right: 1rem;

}

h1{
    padding-top: 4rem;
   
}
.header1 {
    height: 12rem;
    /* background-color: #844685; */
    background-color: #ffc107;
    text-align: center;
    font-family: 'Cabin', sans-serif;


}

   
   
   
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/favicon.png" >


    <!--<link rel="stylesheet" href="main.css">-->
    <title>Add Sale Data</title>
</head>
<body >
    <!-- style="background-image: url('bg-011.jpg')"; -->
   
    <div class="header1">
        <h1>House Price Prediction</h1>
    </div>
   
    <div class="card" >
        <div class="card-header" >
          <h4>House Sale Entry</h4>
        </div>
        <div class="card-body">
    <!--form  action="https://formspree.io/meqrjqgr"
    method="POST" -->
            
       <!-- script type="text/javascript">
            var submitted = false;
            </script -->
            
            <!--iframe name="hiden_iframe" id="hidden_iframe" style="display: none;"
                    onload="if(submitted) {windows.location='#index.html';}" >
            </iframe -->   
            
    <form  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfZ06SwJ9Wi85V-bch4OaBnsFjggT7MpxoMfMmEvGCX8U_qsg/formResponse"
    method="POST" target="hidden_iframe" onsubmit="submitted=true"s>        
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Price</label>
          <div class="col-lg-8  col-xs-12 col-sm-12">
            <input type="number" class="form-control" id="inputEmail3" name="entry.1787507684" >
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-12 col-lg-2 col-form-label">Area (in sq ft.)</label>
          <div class="col-lg-8 col-xs-12 col-sm-12">
            <input type="number" class="form-control" id="inputPassword3" name="entry.1983500180">
          </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Bedrooms</label>
            <div class="col-lg-8 col-xs-12 col-sm-12">
              <input type="number" class="form-control" id="inputEmail3" name="entry.1288288719">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Bathrooms</label>
            <div class="col-lg-8 col-xs-12 col-sm-12">
              <input type="number" class="form-control" id="inputEmail3" name="entry.205088684">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Number of Floors</label>
            <div class="col-lg-8 col-xs-12 col-sm-12">
              <input type="number" class="form-control" id="inputEmail3"name="entry.594670201">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Year Build</label>
            <div class="col-lg-8 col-xs-12 col-sm-12">
              <input type="month" class="form-control" id="inputEmail3" name="entry.1181901758">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Purchase Date</label>
            <div class="col-lg-8 col-xs-12 col-sm-12">
              <input type="date" class="form-control" id="inputEmail3" name="entry.697272739">
            </div>
          </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-12 col-lg-2 pt-0">Water Front</legend>
            <div class="col-lg-8 col-xs-12 col-sm-12 col-lg-2">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="entry.800451084" id="gridRadios1" value="Yes" checked>
                <label class="form-check-label" for="gridRadios1">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="entry.800451084" id="gridRadios2" value="No">
                <label class="form-check-label" for="gridRadios2">
                  No
                </label>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Zip Code</label>
            <div class="col-lg-8 col-xs-12 col-sm-12">
              <input type="number" class="form-control" id="inputEmail3" name="entry.2078867517">
            </div>
          </div>
       
        <div class="form-group row">
          <div class="col-lg-8 col-xs-12 col-sm-12 col-lg-2" style="text-align:center">
              

            <button type="submit" class="btn  btn-lg btn-warning" onclick="myFunction()">Submit</button>
                    
             
      
              
          </div>
        </div>

      </form>


   
    </div>
  </div>


</body>
</html>











